{% extends 'tasker/start.html' %}

{% block content %}
    <div>
        <div class="intro">
            Log In to your profile
        </div>
        <form method="GET">
            {% csrf_token %}
            <input class="form-elem" type="text" name="username" placeholder="Enter your username">
            <input class="form-elem" type="password" name="password" placeholder="Enter your password">
            <button class="form-elem" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}