{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Daily Tracker</title>

	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	    <link rel="stylesheet" href="{% static 'css/task.css' %}">
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
	</head>
  	<body>
		<header>
	    	<div class="logo">
	    		<a href="{% url 'user_board' username %}">Daily Tracker</a>
	    	</div>
			<div class="navigation">
				<div class="habit-tracker">
	        		<a href="{% url 'habits_info' username %}">Habits</a>
	    		</div>
				<div class="calendar">
	        		<a href="">Calendar</a>
	    		</div>
				<div class="logout">
	        		<a href="{% url 'logout' %}">Log Out</a>
	    		</div>
			</div>
		</header>
    	<div class="container">
      		<div class="task-title">
        		<div class="title">
          			{{ name }}
        		</div>
				<form action="{% url 'change_public_task' username list_id task_id %}" method="GET">
					<input
							class="change-card-btn"
							type="submit"
							value="Edit"
					/>
				</form>
                <form action="{% url 'delete_public_task' username list_id task_id %}" method="POST">
					<input
							class="delete-card-btn"
							type="submit"
							value="Delete"
					/>
	           	</form>
        	</div>
        	<div class="card-list-name">
				{{ list.name }}
			</div>
			<div class="task-info">
				{%if deadline%}
					<div class="task-deadline">Deadline: {{ deadline }}</div>
				{% endif %}
				<div class="task-executors">
					{% if executors %}
						<span>Executors: </span>
					{% endif %}
					{% for executor in executors %}
						<div class="executor">
							<form action="{% url 'delete_task_executor' username list_id task_id executor.username %}"
								  method="POST">
								<input
										class="delete-executor-btn"
										type="submit"
										value="Delete"
								/>
								<span>{{ executor.username }}</span>
							</form>
						</div>
					{% endfor %}
				</div>
				<div class="task-status">Status: {{ status }}</div>
				<div class="task-subtasks">
					<div>Subtasks: </div>
					{% for subtask in subtasks %}
						<div class="subtask">
							<form action="{% url 'delete_public_subtask' username list_id task_id subtask.id %}" method="POST">
								<input
										class="delete-subtask-btn"
										type="submit"
										value="Delete"
									/>
							</form>
							<form action="{% url 'change_public_subtask' username list_id task_id subtask.id %}" method="POST">
								<input
										class="change-subtask-btn"
										type="submit"
										value="Edit"
								/>
								{% if subtask.status == 'NS' %}
									<input name="subtask_status" type="checkbox" value="F"/>
									{% else %}
									<input name="subtask_status" type="checkbox" value="F" checked/>
								{% endif %}
								<span>{{ subtask.name }}</span>
							</form>
						</div>
					{% endfor %}
					<form action="{% url 'add_public_subtask' username list_id task_id %}" method="POST" class="new-subtask-form">
	            		<textarea
	              			class="new-subtask-title"
	              			name="title"
	              			placeholder="Enter a title for new subtask..."
	              			rows="1"
							cols="70"
	            		></textarea>
						<input
	               				class="new-subtask-btn"
	                			type="submit"
	                			value="Add"
						/>
	          		</form>
				</div>
				<div class="task-comments">
					<div>Comments: </div>
					{% for comment in comments%}
						<div class="comment">{{ comment.comment }}</div>
						<form action="{% url 'delete_public_comment' username list_id task_id comment.id %}" method="POST"
							  class="delete-comment-form">
							<input
									class="delete-comment-btn"
									type="submit"
									value="Delete"
							/>
						</form>
					{% endfor %}
				</div>
				<form action="{% url 'add_public_comment' username list_id task_id %}" method="POST" class="new-comment-form">
					<textarea
	              			class="new-comment"
	              			name="text"
	              			placeholder="Enter a comment for task..."
	              			rows="5"
							cols="10"
					></textarea>
					<input
							class="new-comment-btn"
							type="submit"
							value="Add"
					/>
	          		</form>
			</div>
      	</div>
	</body>
</html>