{% load static %}
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Daily Tracker</title>

	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	    <link rel="stylesheet" href="{% static 'css/remembers.css' %}">
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
	</head>
	<body>
		<header>
			<div class="logo">
	    		<a href="{% url 'user_board' username %}">Daily Tracker</a>
	    	</div>
			<div class="navigation">
				<div class="habit-tracker">
	        		<a href="{% url 'habits_info' username %}">Habits</a>
	    		</div>
				<div class="remebers">
	        		<a href="{% url 'remember_info' username %}">Remembers</a>
	    		</div>
				<div class="logout">
	        		<a href="{% url 'logout' %}">Log Out</a>
	    		</div>
			</div>
		</header>
	    <div class="content">
            <div class="remembers">
                {% for remember in remembers %}
					<div class="remember-title">
                        <a href="{% url 'task_info' username remember.id %}">
                            <span>{{ remember.date }}</span>
                            <span>{{ remember.name }}</span>
                        </a>
					</div>
                {% endfor %}
            </div>
	    </div>
	</body>
</html>