{% extends 'tasker/start.html' %}

{% block content %}
    <div>
        <div class="intro">
            Register your profile
        </div>
        <form method="POST">
            {% csrf_token %}
            <input class="form-elem" type="text" name="username" placeholder="Enter your username">
            <input class="form-elem" type="email" name="email" placeholder="Enter your email">
            <input class="form-elem" type="password" name="password" placeholder="Enter your password">
            <button class="form-elem" type="submit">Register</button>
        </form>
    </div>
{% endblock %}