{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Daily Tracker</title>

	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	    <link rel="stylesheet" href="{% static 'css/task.css' %}">
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
	</head>
  	<body>
		<header>
	    	<div class="logo">
	    		Daily Tracker
	    	</div>
	    	<div class="logout">
	        	<a href="{% url 'logout' %}">Log Out</a>
	    	</div>
		</header>
    	<div class="container">
      		<div class="task-title">
        		<div class="title">
          			{{ name }}
        		</div>
				<form action="{% url 'change_task' username task_id %}" method="GET">
					<input
							class="change-card-btn"
							type="submit"
							value="Edit"
					/>
				</form>
                <form action="{% url 'delete_task' username task_id %}" method="POST">
					<input
							class="delete-card-btn"
							type="submit"
							value="Delete"
					/>
	           	</form>
        	</div>
        	<div class="card-list-name">
				In List Weekly Tasks
			</div>
			<div class="task-info">
				{%if deadline%}
					<div class="task-deadline">Deadline: {{ deadline }}</div>
				{% endif %}
				<div class="task-status">Status: {{ status }}</div>
				<div class="task-subtasks">
					<div>Subtasks: </div>
					{% for subtask in subtasks %}
						<div class="subtask">
							<form action="{% url 'delete_subtask' username task_id subtask.id %}" method="POST">
								<input
										class="delete-subtask-btn"
										type="submit"
										value="Delete"
									/>
							</form>
							<form action="{% url 'change_subtask' username task_id subtask.id %}" method="POST">
								<input
										class="change-subtask-btn"
										type="submit"
										value="Edit"
								/>
								{% if subtask.status == 'NS' %}
									<input name="subtask_status" type="checkbox" value="F"/>
									{% else %}
									<input name="subtask_status" type="checkbox" value="F" checked/>
								{% endif %}
								<span>{{ subtask.name }}</span>
							</form>
						</div>
					{% endfor %}
					<form action="{% url 'add_subtask' username task_id %}" method="POST" class="new-subtask-form">
	            		<textarea
	              			class="new-subtask-title"
	              			name="title"
	              			placeholder="Enter a title for new subtask..."
	              			rows="1"
							cols="70"
	            		></textarea>
						<input
	               				class="new-subtask-btn"
	                			type="submit"
	                			value="Add"
						/>
	          		</form>
				</div>
				<div class="repeats">
					<div>Repeats: </div>
					{% for repeat in repeats %}
						<div class="repeat">
							<form action="{% url 'delete_repeat' username task_id repeat.id %}" method="POST">
								<input
										class="delete-repeat-btn"
										type="submit"
										value="Delete"
								/>
								<span>{{ repeat.day }}</span>
							</form>
						</div>
					{% endfor %}
					<form action="{% url 'add_repeat' username task_id %}" method="POST" class="new-repeat-form">
						<select name="repeat">
							<option value="">--</option>
							<option value="0">Sunday</option>
							<option value="1">Monday</option>
							<option value="2">Tuesday</option>
							<option value="3">Wednesday</option>
							<option value="4">Thursday</option>
							<option value="5">Friday</option>
							<option value="6">Saturday</option>
						</select>
						<input
	               				class="new-repeat-btn"
	                			type="submit"
	                			value="Add"
						/>
	          		</form>
				</div>
				<div class="remembers">
					<div>Remembers: </div>
					{% for remember in remembers %}
						<div class="remember">
							<form action="{% url 'delete_remember' username task_id remember.id %}" method="POST">
								<input
										class="delete-remember-btn"
										type="submit"
										value="Delete"
								/>
								<span>{{ remember.repeat_date }}</span>
							</form>
						</div>
					{% endfor %}
					<form action="{% url 'add_remember' username task_id %}" method="POST" class="new-remember-form">
						<input
							name="date"
							type="date"
						/>
						<input
							name="time"
							type="time"
						/>
						<input
	               				class="new-remember-btn"
	                			type="submit"
	                			value="Add"
						/>
	          		</form>
				</div>
				<div class="task-comments">
					<div>Comments: </div>
					{% for comment in comments%}
						<div class="comment">{{ comment.comment }}</div>
						<form action="{% url 'delete_comment' username task_id comment.id %}" method="POST"
							  class="delete-comment-form">
							<input
									class="delete-comment-btn"
									type="submit"
									value="Delete"
							/>
						</form>
					{% endfor %}
				</div>
				<form action="{% url 'add_comment' username task_id %}" method="POST" class="new-comment-form">
					<textarea
	              			class="new-comment"
	              			name="text"
	              			placeholder="Enter a comment for task..."
	              			rows="5"
							cols="10"
					></textarea>
					<input
							class="new-comment-btn"
							type="submit"
							value="Add"
					/>
	          		</form>
			</div>
      	</div>
	</body>
</html>