{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Daily Tracker</title>

	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	    <link rel="stylesheet" href="{% static 'css/change_task.css' %}">
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
	</head>
  	<body>
		<header>
	    	<div class="logo">
	    		<a href="{% url 'user_board' username %}">Daily Tracker</a>
	    	</div>
			<div class="navigation">
				<div class="habit-tracker">
	        		<a href="{% url 'habits_info' username %}">Habits</a>
	    		</div>
				<div class="remembers">
	        		<a href="{% url 'remember_info' username %}">Remembers</a>
	    		</div>
				<div class="logout">
	        		<a href="{% url 'logout' %}">Log Out</a>
	    		</div>
			</div>
		</header>
    	<div class="container">
			<span class="task-name">Changing task "{{ task_name }}" in "Weekly List"</span>
            <form action="{% url 'change_task' username task_id %}" method="POST" class="change-task-form">
				<span>New name: </span>
                <textarea
                        class="new-title"
                        name="title"
                        placeholder="Enter a new title for task..."
                        rows="1"
                        cols="100"
                ></textarea>
				<span>Deadline: </span>
				<div class="deadline">
					<input
							name="date"
							type="date"
					/>
					<input
							name="time"
							type="time"
					/>
				</div>
				<span>Status: </span>
				<select id="dropdown" name="status">
					<option value="">---</option>
          			<option value="NS">Not Started</option>
          			<option value="IP">In process</option>
          			<option value="F">Finished</option>
        		</select>
                <input
                        class="change-btn"
                        type="submit"
                        value="Change"
                />
            </form>
      	</div>
	</body>
</html>