@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

header{
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 30px;
}

.logo{
  width: 77%;
  font-size: 30px;
  font-weight: bold;
  font-family: "Amatic SC";
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation > div {
  margin-left: 15px;
}

.login, .signup {
  margin: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}