body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 60%;
  padding: 30px 70px;
  margin: 40px 150px;
  border-radius: 4px;
  background-color: #eaeaea;
}

.task-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.change-card-btn {
  padding: 5px 10px;
  margin: 15px 0px 0px 30px;
  background-color: #459328;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.delete-card-btn {
  padding: 5px 10px;
  margin: 15px 10px 0px 10px;
  background-color: #f33636;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.card-list-name {
  color: #7a7a7a;
  margin-bottom: 20px;
}

.task-deadline, .task-status, .task-subtasks {
    margin-top: 10px;
}

.subtask, .subtask > form{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.delete-comment-btn {
  padding: 5px 10px;
  background-color: #f33636;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.delete-comment-btn {
  display: flex;
  align-items: center;
  justify-items: center;
}

.comment{
  margin-left: 15px;
}

.new-subtask-form{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.new-subtask-btn, .new-remember-btn, .new-repeat-btn {
  padding: 5px 10px;
  background-color: #459328;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.comment{
  width: 90%;
}

.new-comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-comment {
  width: 80%;
  margin: 5px;
}

.new-comment-btn{
  margin: 5px;
  padding: 5px 10px;
  background-color: #459328;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

form > input {
  margin: auto;
}

.change-subtask-btn {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #459328;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.delete-subtask-btn, .delete-remember-btn , .delete-repeat-btn{
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f33636;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.executor > form {
  margin-left: 30px;
}

.new-remember-form, .new-repeat-form{
  margin-left: 30px;
}

.remember, .repeat {
  margin-left: 30px;
}